<div class="password-strength-wrapper">
  <ul class="password-strength-list">
    <li
      class="password-strength-item"
      [style.background-color]="bar0"
      [style.box-shadow]="getBoxShadow(bar0)"
    ></li>
    <li
      class="password-strength-item"
      [style.background-color]="bar1"
      [style.box-shadow]="getBoxShadow(bar0)"
    ></li>
    <li
      class="password-strength-item"
      [style.background-color]="bar2"
      [style.box-shadow]="getBoxShadow(bar0)"
    ></li>
  </ul>
</div>

<div class="password-validation-list" *ngIf="passwordToCheck">
  <div class="password-validation-list" *ngIf="passwordToCheck">
    <ul class="password-validation-items">
      <li class="password-validation-item">
        <i class="icon" [class]="isLengthValid ? 'fas fa-check' : 'fas fa-times'"></i>
        <p>Password must contain at least 8 characters</p>
      </li>
      <li class="password-validation-item">
        <i class="icon" [class]="hasLetters ? 'fas fa-check' : 'fas fa-times'"></i>
        <p>Password must contain letters</p>
      </li>
      <li class="password-validation-item">
        <i class="icon" [class]="hasNumbers ? 'fas fa-check' : 'fas fa-times'"></i>
        <p>Password must contain numbers</p>
      </li>
      <li class="password-validation-item">
        <i class="icon" [class]="hasSymbols ? 'fas fa-check' : 'fas fa-times'"></i>
        <p>Password must contain symbols</p>
      </li>
    </ul>
  </div>
</div>
